.char-row{
    height: 90px;
    overflow: auto;
    white-space: nowrap;
    text-align: justify;
    text-align-last: center;
}

.char-container{
    max-height: 100%;
    position: relative;
    .name-box{
        position: relative;
        left: -50%;
        padding: 2px;
        background: #c0d5ffba;
        border-radius: 5px;
        span{
            font-size: 0.9em;
        }
    }
}

.char-column{
    display: inline-block;
    min-width: 110px;
}

.gm-wrapper{
    height: 69%;
    overflow-y: auto;
}

.gm-title{
    width: 150px;
    top: -2px;
    left: -11px;
    font-size: 1.1rem;
    font-weight: 700;
    
}

@media screen and (max-width: 600px){
    .char-column{
        display: inline-block;
        width: 30%;
    }
}